.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  padding-bottom: $spacing-l;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding-bottom: $spacing-l;

    @media #{$screen-above-tablet} {
      flex-direction: row;
    }
  }
}
