.villagers-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$screen-tablet} {
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  @media #{$screen-above-tablet} {
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.villagers {
  display: flex;
  align-items: center;
  justify-content: center;
}
